body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}

#offline button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.offline-screen {
  width: 100%;
  height: 100vh;
  margin-top: -10px;
  margin-left: -10px;
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;


}

.splash {
  width: 100%;
  height: 100vh;
  margin-top: -10px;
  /*margin-left: -10px;*/
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: clip;
  
}
